<mat-toolbar color="accent">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon><mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span>Aplicacion de empleados</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="share">
        <mat-icon>share</mat-icon>
    </button>
    <mat-menu #share="matMenu">
        <button mat-menu-item><mat-icon>facebook</mat-icon>Facebook</button>
        <button mat-menu-item><mat-icon>email</mat-icon>Email</button>
    </mat-menu>
</mat-toolbar>